Source: xbmc-pvr-demo
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 8.0.0), cmake, libtinyxml-dev, xbmc-pvr-dev,
               libxbmcplatform-dev, xbmc-addon-dev
Standards-Version: 3.9.2
Section: libs

Package: xbmc-pvr-demo
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Demo PVR for XBMC
 Demo PVR for XBMC

Package: xbmc-pvr-demo-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Demo PVR for XBMC
 debug symbols for Demo PVR for XBMC

